/* Estilo general en modo oscuro */
html{
    
    height: 100%;

}
body {
    color: #FDFEFE;
    font-family: 'Arial', sans-serif;
    background-image: url('../assets/old-library.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    
}
/*Estilo para Home*/
.container__home, .container__search, 
.container__results--search, .search__boton, 
.container__book, .container__rentail, 
.rentail__duration, .rentail__textTitle,
.container__about{
    background-color: #42DAE1;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    

}
.home__text1, .home__text2, .search__title,
 .rentail__duration, .rentail__textTitle{
    white-space: normal;
    padding: 10px;
    background-color: #42DAE1;

}



/*Estilo para Buscar*/

.card, .rentail__books{
    background-color: #007bff;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    color: #f0e68c;

    display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.container__book {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #222;
    display: flex;


}

.container__results--search{   
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}



/*Estilo para el footer*/
.container__footer {
    background-color: #007bff;
    text-align: center;
    background-size: 50%;
    padding: 20px;
    margin: 20px;
}

.footer__text {
    white-space: normal;
    color: #333;
}

.center-text {
    text-align: center;
}


/*Estilo para el menu*/
ul{
    list-style: none;
}

.navbar{
    background-color: var(--first-color);
    color: var(--title-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0.75rem 1.5rem;
}

.raro {
    width:0;
    height:0;
    border-right: 50px solid #d9534f;
    border-top: 50px solid #428bca;
    border-left: 50px solid #f0ad4e;
    border-bottom: 50px solid #5cb85c;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}